@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root {
    --global-primary-color: #8b8b8b;
    --global-secondary-color: #3C3D3C;
    --global-third-color: #CBCBCB;
    --global-fourth-color: #e0e0e0;
    --global-fifth-color: #d4d4d4;
    --global-sixth-color: #B4B4B4;
    --global-seventh-color: #AB0000;
    --global-eighth-color: #00AB11;
    --global-ninth-color: #525352;
}

a {
    text-decoration: none;
    font-size: 14px;
}

button {
    color: white;
}

.all {
    display: flex;
    min-height: 100dvh;
}

.all-block {
    display: flex;
    width: calc(100vw - 9em);
    background-color: var(--global-third-color);
    ;
}

.block1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.all-manage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-inputs {
    display: flex;
    justify-content: center;
}

.block-inputs-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    width: 80%;
}

.block-inputs-form select {
    background-color: var(--global-secondary-color);
    color: var(--global-primary-color);
}

input[type=text],
select {
    padding-block: 1em;
    border: none;
    width: 100%;
    font-size: 15px;
    margin-bottom: 1em;
    text-align-last: center;
    background-color: var(--global-sixth-color);
}

input[type=search] {
    text-align: center;
    width: 80%;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 1em;
    border: solid black 1px;
    background-color: var(--global-sixth-color);
}

input[type=file] {
    display: none;
}

.custom-file-button {
    display: flex;
    border: none;
    width: 100%;
    text-align: center;
    padding-block: 1em;
    font-size: 15px;
    justify-content: center;
    background-color: var(--global-secondary-color);
    color: var(--global-primary-color);
    user-select: none;
}
.green-button {
    background-color: var(--global-eighth-color);
    border-radius: 1em;
    border: none;
    color: white;
    padding: 1em;
    width: 7em;
}