@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root {
    --global-primary-color: #8b8b8b;
    --global-secondary-color: #3C3D3C;
    --global-third-color: #CBCBCB;
    --global-fourth-color: #e0e0e0;
    --global-fifth-color: #d4d4d4;
    --global-sixth-color: #B4B4B4;
    --global-seventh-color: #AB0000;
    --global-eighth-color: #00AB11;
    --global-ninth-color: #525352;
    --global-tenth-color: #2727c2;
    --global-eleventh-color: #004903;
    --global-twelfth-color: #2B2C2F;
    --global-thirteenth-color: #03009F;
}

a {
    color: var(--global-tenth-color);
    text-decoration: none;
    font-size: 16px;
}

button {
    color: white;
}

.all {
    display: flex;
    min-height: 100dvh;
}

.all-block {
    display: flex;
    width: calc(100vw - 9em);
    background-color: var(--global-third-color);
}

.block1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 100%;
}

.title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8em;
    width: 100%;
}

.title h1 {
    text-align: center;
    color: var(--global-secondary-color);
    font-size: 2.3em;
}

.title2 h2 {
    font-size: 1.8em;
    color: var(--global-secondary-color);
}



/* CSS CADASTRO | EDIÇÃO */



.all-manage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-inputs {
    display: flex;
    justify-content: center;
}

.block-inputs-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    width: 80%;
}

.block-inputs-form select {
    background-color: var(--global-secondary-color);
    color: var(--global-primary-color);
}

.div-input-sports {
    display: flex;
    flex-direction: column;
    background-color: var(--global-sixth-color);
    color: var(--global-primary-color);
    font-size: 15px;
    text-align: center;
    margin-bottom: 1em;
}

.div-input-sports label {
    text-align: left;
    margin: 5px;
}

input[type=number] {
    background-color: var(--global-fifth-color);
    border: black 1px solid;
    border-radius: 10px;
    text-align: center;
    padding: 0.8em 0.5em;
    font-size: 14px;
    color: black;
}

input[type=text],
select {
    padding-block: 1em;
    border: none;
    width: 100%;
    font-size: 15px;
    margin-bottom: 1em;
    text-align-last: center;
    background-color: var(--global-sixth-color);
}

input[type=file] {
    display: none;
}

.custom-file-button {
    display: flex;
    border: none;
    width: 100%;
    text-align: center;
    padding-block: 1em;
    font-size: 15px;
    justify-content: center;
    background-color: var(--global-secondary-color);
    color: var(--global-primary-color);
    user-select: none;
}

.input-data {
    background-color: var(--global-secondary-color);
    color: var(--global-primary-color);
    text-align: center;
    color-scheme: dark;
    padding-block: 1em;
    width: 100%;

}

.input-confirm {
    background-color: var(--global-eighth-color);
    border-radius: 1em;
    border: none;
    color: white;
    padding: 1em;
    width: 7em;
}

.input-delete {
    background-color: var(--global-seventh-color);
    border-radius: 1em;
    border: none;
    color: white;
    padding: 1em;
    width: 7em;
    margin-top: 2em;
}



/* CSS GERENCIAMENTO */



input[type=search] {
    text-align: center;
    width: 80%;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 1em;
    border: solid black 1px;
    background-color: var(--global-fifth-color);
}

.all-table {
    max-width: 85vw;
    text-align: center;
    overflow: auto;
}

.table-timer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    width: 75%;
}

.table-timer-item {
    width: 100%;
}

.sports-table {
    width: 100%;
    margin-bottom: 2em;
}

tbody tr {
    text-align: center;
}

table,
th,
td {
    border-collapse: collapse;
}

th,
td {
    padding: 0.8em;
    font-weight: bold;
}

th {
    color: white;
    background-color: var(--global-ninth-color);
}

td {
    color: var(--global-ninth-color);
}

tr:nth-child(odd) {
    background-color: var(--global-fourth-color);
}

tr:nth-child(even) {
    background-color: var(--global-fifth-color);
}



/* CSS DOS JOGOS */



.games {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.game-section {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 15em;
    width: 70%;
    margin-bottom: 4em;
}

.game-block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 15em;
}

.game-block2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 14em;
}

.game-block2 p {
    font-size: 20px;
    font-weight: bold;
}

.game-block2 h2 {
    color: var(--global-tenth-color);
}

.game-title {
    text-align: center;
    color: var(--global-thirteenth-color);
}

.game-score {
    background-color: var(--global-thirteenth-color);
    color: white;
    font-size: 2em;
    padding: 0.2em 0.5em;
}

.games-config-item {
    display: flex;
    background-color: #2B2C2F;
    height: 33.3%;
    width: 5em;
    justify-content: center;
    align-items: center;
}

.games-config-item-player {
    background-color: var(--global-thirteenth-color);
}

.games-config-item-active {
    background-color: var(--global-eleventh-color);
}

.games-config-item-desactive {
    background-color: var(--global-seventh-color);
    cursor: not-allowed;
}

.games-config-item-img {
    width: 1.5em;
}

.green-th {
    background-color: var(--global-eighth-color);
}

.red-th {
    background-color: var(--global-seventh-color);
}

.bottom-space {
    margin-bottom: 7em;
}

.match-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12em;
    width: 100%;
    max-width: 36em;
    gap: 2em;
}

.match-status select {
    margin: 0;
}



/*CSS DO SCOREBOARD*/



.all-block-scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 9em);
    background-color: var(--global-third-color);
}

.block-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.block1-scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 1em;
}

.block2-scoreboard {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.title-scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5em;
    width: 100%;
}

.title-scoreboard h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    color: white;
    height: 65%;
    width: 90%;
    background-color: var(--global-secondary-color);
}

.title-scoreboard h2 {
    font-size: 1.8em;
    color: var(--global-secondary-color);
}

.timer-scoreboard {
    display: flex;
    justify-content: center;
    background-color: var(--global-ninth-color);
    color: white;
    width: 50%;
    min-width: 10em;
    padding: 0.5em 1.5em;
    border-radius: 15px;

}

.buttons-scoreboard {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.buttons-scoreboard button {
    background: none;
    border: none;
}

.inputs-scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.block-inputs-form-scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    width: 80%;
}

.block-inputs-form-scoreboard select {
    background-color: var(--global-secondary-color);
    color: var(--global-primary-color);
    margin: 0;
    padding-block: 0.6em;
}

.block-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
}

.block3-scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.scoreboard-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
}

.title-scoreboard-top {
    justify-content: space-around;
}


.select-scoreboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30%;
}

.select-scoreboard select {
    background-color: var(--global-secondary-color);
    color: var(--global-primary-color);
    padding-block: 0.9em;
    margin: 0;
    width: 100%;
}

.scoreboard-center {
    display: flex;
    align-items: center;
    width: 100%;
}

.scoreboard-bottom {
    display: flex;
    align-items: center;
    width: 100%;
}

.title-scoreboard-bottom {
    justify-content: space-around;
    width: 0;
}

/*MEDIA SCREEN*/



@media screen and (max-width: 925px) {


    .all-block {
        width: 100vw;
    }

    .title h1 {
        font-size: 1.5em;
    }



    /*GAMES AREA*/



    .game-section {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
    }

    .game-block1 {
        padding: 1em;
        min-width: 5em;
    }

    .game-block2 {
        padding: 1em;
        min-width: 0;
    }

    .game-block2 p {
        font-size: 20px;
    }

    .game-block2 h2 {
        font-size: 20px;
    }

    .games-config {
        display: flex;

    }

    .games-config-item {
        height: 100%;
        height: 5em;
        width: 100%;
    }

    .games-config-link {
        width: 100%;
    }

}