@charset "UTF-8";

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8em;
    width: 100%;
}

.title h1 {
    text-align: center;
    color: var(--global-secondary-color);
    font-size: 1.8em;
}