@charset "UTF-8";

:root {
    --global-primary-color: #a7a7a7;
}

.block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid var(--global-primary-color) 2px;
    width: 50%;
}

.block2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid var(--global-primary-color) 2px;
    opacity: 10%;
    width: 50%;
}

.block-logo {
    height: 9em;
    user-select: none;
}

.title {
    display: flex;
    align-items: center;
    height: 10em;
}

.title h1 {
    text-align: center;
    color: #3C3D3C;
    font-size: 2vw;
}

.block1-inputs {
    display: flex;
    justify-content: center;
}

.block1-inputs-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7em;
    width: 80%;
}

.block1-inputs-form select {
    background-color: #3C3D3C;
    color: var(--global-primary-color);
}

input[type=text],
select {
    padding-block: 1em;
    border: none;
    width: 100%;
    font-size: 15px;
    margin-bottom: 1em;
    text-align-last: center;
    background-color: #B4B4B4;
}

input[type=file] {
    display: none;
}

.custom-file-button {
    display: flex;
    padding-block: 1em;
    border: none;
    width: 100%;
    font-size: 15px;
    justify-content: center;
    background-color: #3C3D3C;
    color: var(--global-primary-color);
    user-select: none;
}

.input-icon {
    margin-left: 1em;
}

input[type=submit] {
    background-color: #00AB11;
    border-radius: 1em;
    border: none;
    color: white;
    padding: 1em;
}