@charset "UTF-8";

a {
  color: rgb(39, 39, 194);
  font-size: 16px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 100%;
}

.title h1 {
  text-align: center;
  color: var(--global-secondary-color);
  font-size: 1.8em;
}

.all-table {
  text-align: center;
  max-height: 75vh;
  max-width: calc(80vw - 9em);
  overflow: auto;
}

table,
th,
td {
  border-collapse: collapse;
}

th,
td {
  padding: 0.8em;
  font-weight: bold;
}

th {
  color: white;
  background-color: var(--global-ninth-color);
}

td {
  color: var(--global-ninth-color);
}

tr:nth-child(odd) {
  background-color: var(--global-fourth-color);
}

tr:nth-child(even) {
  background-color: var(--global-fifth-color);
}
