@charset "UTF-8";

a {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.invisible-side-bar {
    min-width: 10em;
    height: 100%;
}

.theme-mode-button {
    position: fixed;
    color: black;
    text-align: center;
    color: yellow;
    cursor: pointer;
    width: 50px;
    font-size: 33px;
    right: 10px;
    top: 14px;
    z-index: 1;
}

.side-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--global-secondary-color);
    min-width: 10em;
    position: fixed;
    overflow: auto;
    height: 100%;
}

.side-bar .hamburguer-menu {
    display: none;
}

.side-bar-bottom,
.side-bar-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
    gap: 1em;
}


.side-bar-logo {
    height: 7em;
}

.user-admin {
    text-align: center;
    margin-inline: 1em;
    padding: 5px;
    color: white;
    border-radius: 10px;
    background-color: var(--global-ninth-color);
}

.user-admin p {
    font-size: 16px;
}

.side-bar-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.side-bar-buttons-items {
    border: none;
    background-color: var(--global-ninth-color);
    padding-block: 0.7em;
    width: 80%;
    border-radius: 0.5em;
}

.side-bar-register {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-bar-register-title {
    text-align: center;
    color: white;
}

.side-bar-buttons-items2 {
    background-color: var(--global-eighth-color);
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
}

.side-bar-buttons-items2 a {
    color: var(--global-color-white);
}

.logos {
    display: flex;
    gap: 10px;
}

.logos-items {
    filter: invert(100%);
    height: 60px;
}



/*MEDIA SCREEN*/



@media screen and (max-width: 925px) {
    .side-bar,
    .invisible-side-bar {
        display: none;
    }

    .hamburguer-menu {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50px;
        top: 14px;
        left: 10px;
        width: 50px;
        z-index: 2;
    }

    .line {
        display: block;
        width: 30px;
        background: var(--global-eighth-color);
        height: 2px;
        margin: 5px 5px;
        transition: all 0.4s ease;
        z-index: 2;
    }

    .side-bar {
        max-width: 0px;
        opacity: 0;
        display: flex;
        transition: all 0.4s ease 0s;
    }

    .change .first-line {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .change .second-line {
        transform: rotate(-45deg) translate(8px, -8px);
    }

    .change ~ .side-bar {
        max-width: 400px;
        opacity: 1;
        z-index: 1;
    }
}