@charset "UTF-8";

.side-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--global-secondary-color);
    width: 9em;
}

.side-bar-bottom,
.side-bar-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.side-bar-logo {
    height: 2em;
}

.side-bar-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.side-bar-buttons-items {
    border: none;
    background-color: var(--global-ninth-color);
    padding-block: 0.5em;
    width: 9em;
}

.side-bar-register {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-bar-register-title {
    text-align: center;
    color: white;
}

.side-bar-buttons-items2 {
    background-color: var(--global-eighth-color);
    padding: 0.5em 1em;
    border: none;
}

.side-bar-buttons-items2 a {
    color: var(--global-secondary-color);
}

.logos {
    display: flex;
    gap: 10px;
}

.logos-items {
    filter: invert(100%);
    height: 60px;
}
