@charset "UTF-8";

.block1,
.block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 10%;
    width: 50%;
    border: solid var(--global-primary-color) 2px;

}

.block-logo {
    height: 10em;
    user-select: none;
}