#/etc/systemd/system/nameservice.service

[Unit]
Description=JIIFS daemon
Requires=jiifs.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=root
Group=root
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/home/jiifs/jiifs-intercampi-2025
ExecStart=/home/jiifs/jiifs-intercampi-2025/env/bin/gunicorn interclasse.asgi:application -k uvicorn.workers.UvicornWorker
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
