@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Flick';
    src: url('./fonts/FlickDemo-vmrYL.ttf') format('truetype');
}

:root {
    --white: #fff;
    --border-title: hsla(0, 0%, 100%, 0.080);
    --gray-background-cards: #2A2A2A;
    --gray-background: #1E1E1E;
    --gray-inputs-background: #343434;
    --green-links-line: #00A3FF;
    --green-title-time-or-set: #11BE18;
    --red-live: #FF3232;
    --pink-feminine: #FF32AA;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-mobile{
    display: none;
}
.mobile-menu-functions{
    display: none;
}
header {
    height: 80px;
    margin: 0 auto;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--gray-background);
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 16px;
    max-width: 1152px;
}

img.logo-jiifs {
    height: 60px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

header li a {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
}

.icon-burguer, .icon-close {
    display: none;
}

a.home-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    z-index: 0;
}

a.home-link::after {
    content: "";
    pointer-events: none;
    bottom: -12px;
    position: absolute;
    width: 80%;
    height: 4px;
    background-color: var(--green-links-line);
    animation: animationLinkNav 1s forwards;
}

@keyframes animationLinkNav {
    0% {
        width: 0;
    }

    100% {
        width: 80%;

    }
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--gray-background);
}
main {
    max-width: 1152px;
    margin: 0 auto;
    padding: 32px 16px;
    padding-bottom: 128px;
    gap: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.games{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 550px;
    gap:60px ;
}
.filters{
    background-color:var(--gray-background-cards) ;
    height: 200px;
    border-radius: 16px;
}
.filters h2{
    display: flex;
    align-items: center;
    height: 45px;
    border-bottom: 1px solid var(--border-title);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    border-radius: 16px 16px 0 0;
    padding-left: 20px;
}
.search-game-filters{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 20px;
}
.search-games{
    display: flex;
    align-items: center;
    background-color: var(--gray-inputs-background);
    max-width:245px ;
    border-radius: 8px;
    height: 30px;
    gap: 13px;
    padding-left: 10px;
}
.search-games input{
    background-color: var(--gray-inputs-background);
    border: none;
    outline: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
    font-size: 16px;
    font-weight: 600;
    width: 195px;
    height: 30px;
}
.search-games input::-webkit-input-placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.game-filters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 13px;
}
.games-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-inputs-background);
    border-radius: 8px;
    width: 195px;
    height: 30px;
    padding: 0 10px;
}
 select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    background-color: var(--gray-inputs-background);
    border: none;
    outline: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    font-size: 16px;
    font-weight: 600;
    width: 125px;
    height: 30px;
}

option{
    text-align: center;
}

.games-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
    max-width: 550px;
}
.game-block{
    width: 100%;
    background-color: var(--gray-background-cards);
    border-radius: 16px;
}
.block-informations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--gray-inputs-background);
    border-radius: 16px 16px 0 0;
    height: 32px;
    width: 100%;
}
.block-informations .modality{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
}
.block-informations .modality img{
    height: 16px;
}
.block-informations .status{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    color: var(--white);
}
.block-informations .status img{
    height: 16px;
}
.games-of-block{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 0;
    gap: 18px;
}
.games-of-block .game{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

}
.games-of-block .game img{
    width: 32px;
    border-radius: 16px;
}

.game p{
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
}
.team-a{
    display: flex;
    width: 120px;
    justify-content: flex-end;
}
.team-b{
    width: 120px;
    justify-content: flex-start;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1152px;
    margin: 0 auto;
    padding: 16px;

}
.today-games{
    background-color: var(--gray-background-cards);
    border-radius: 16px;
    max-width: 550px;
    width: 350px;
    height: 80vh;
}
.today-games h2{
    display: flex;
    align-items: center;
    height: 45px;
    border-bottom: 1px solid var(--border-title);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    border-radius: 16px 16px 0 0;
    padding-left: 20px;
}
.today-games-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    padding: 20px 0;
    height: calc(80vh - 45px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.today-games-container::-webkit-scrollbar{
    width: 8px;
}
.today-games-container::-webkit-scrollbar-thumb{
    background-color: var(--gray-inputs-background);
    border-radius: 8px;
}
.today-game{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.today-game img{
    width: 32px;
    border-radius: 16px;
}

.today-game p{
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
}
.today-game img.sport{
    width: 42px;
}
footer img {
    height: 80px;
}
@media screen and (max-width:1000px) {
    header {
        max-width: 700px;
    }

    header nav ul {
        gap: 20px;
    }

    header li a {
        font-size: 20px;
    }

    img.logo-jiifs {
        height: 45px;
    }
    .future-feature{
        display: none;
    }
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 700px;
        padding-bottom: 180px;
    }
    .today-games{
        width: 550px;
        height: auto;
    }
    .mobile-menu-functions{
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: var(--gray-background);
    }
    .menu-of-functions{
        display: flex;
        align-items: center;
        width: 700px;
        height: 60px;
        gap: 32px;
        padding: 0 16px;
    }
    .menu-of-functions>li{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        color: var(--white);
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;

    }
    .menu-of-functions>li.activate{
        color: var(--green-links-line);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        position: relative;
        border: none;
        background: none;
        z-index: 0;
    }
    .menu-of-functions>li.activate::after{
        content: "";
        pointer-events: none;
        bottom: -12px;
        position: absolute;
        height: 4px;
        background-color: var(--green-links-line);
        animation: animationLinkNav 1s forwards;
    }
    footer {
        width: 700px;
        height: 60px;
        margin-top: -120px;
    }

    footer img {
        height: 60px;
    }
    
}
@media screen and (max-width:750px) {
    header {
        max-width: 350px;
        height: 60px;
    }
    .modal-mobile{
        display: none;
        height: 100vh;
        width: 50vw;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.541);
        z-index: 2;
        overflow-y: hidden;
    }
    header nav ul {
        display: none;
        align-items: center;
        gap: 40px;
        flex-direction: column;
        position: fixed;
        top: 0px;
        right: 0;
        background-color: var(--gray-background);
        padding: 20px 10px;
        width: 50%;
        height: 100vh;
        z-index: 4;
    }

    .icon-burguer {
        display: block;
        cursor: pointer;
    }
    .icon-close{
        align-self: flex-end;
        cursor: pointer;
    }
    .item-close{
        align-self: flex-start;
        width: 80%;
        display: flex;
        justify-content: flex-end;
    }
    main {
        max-width: 350px;
        padding-bottom: 180px;
    }
    .games{
        max-width: 350px;
        width: 318px;
        gap: 32px;
    }
    .games-filter{
        width: 120px;
    }
    .games-filter img{
       width: 16px;
    }
    select{
        width: 70px;

    }
    .games-container{
        max-width: 350px;
        width: 318px;
    }
    .game-block{
        max-width: 350px;
        width: 318px;
    }
    .game-block .game{
        gap: 16px;
    }
    .game p{
        font-size: 12px;
        gap: 16px;
    }
    .today-games{
        max-width: 350px;
        width: 318px;
        padding: 0;
    }
    .today-games-container{
        overflow-y: auto;
    }
    .today-game img{
        width: 28px;
        border-radius: 16px;
    }
    
    .today-game p{
        display: flex;
        align-items: center;
        gap: 18px;
        font-size: 12px;
        font-weight: 600;
        color: var(--white);
    }
    .today-game img.sport{
        width: 36px;
    }
    footer {
        width: 350px;
        height: 60px;
        margin-top: -120px;
    }

    footer img {
        height: 40px;
    }
    .menu-of-functions{
        width: 350px;
    }
}