{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JIIFS ADMIN</title>
{% endblock head %}

{% block navbar %}

<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'manage' %}">
    <button class="side-bar-buttons-items">GERENCIAMENTO</button>
</a>

{% endblock navbar %}

{% block content %}
<div class="all-block">
    <div class="block1">
        <div class="title">
            <h1>BANNERS</h1>
        </div>
        <button class="side-bar-buttons-items2">
            <a href="{% url 'banner_register' %}">CADASTRO DE BANNERS</a>
        </button>
        <br><br>
        <div class="all-manage">
            <input type="search" class="hidden" id="search-input" onkeyup="search_table()" placeholder="Pesquisar os jogadores" />
            <section class="all-table">
                <table id="search-table">
                    <tr class="hidden">
                        <th>NONE</th>
                        <th>BANNER</th>
                        <th>STATUS</th>
                        <th>DELETAR</th>
                    </tr>
                    {% for banner in banner %}
                    <tr>
                        <td>{{ banner.name }}</td>
                        <td>{% if banner.image %} <img src="{% static 'images/icon-true.svg' %}"> {% else %} <img src="{% static 'images/icon-false.svg' %}"> {% endif %}</td>
                        <td><form method="POST" action="">{% csrf_token %}<button name="banner_update" value="{{banner.id}}" style="background-color: transparent; padding: 5px; border-radius: 10px; color: black;">{{ banner.get_status_display.upper}}</button></form></td>
                        <td><form method="POST" action="">{% csrf_token %}<button name="banner_delete" value="{{banner.id}}" style="background-color: transparent; border: none;"><img src="{% static 'images/icon-trash.svg' %}"></button></form></td>
                    </tr>
                    {% empty %}
                    <style>
                        .hidden {
                            display: none;
                        }
                    </style>
                    <img class="image-no-players" src="{% static 'images/setup-animate.svg' %}">
                    <div class="title2">
                        <h2>NÃO HÁ NENHUM BANNER CADASTRADO! <br> <span style="font-size: 20px;">Os banners sõa utilizados no placar do projetor.!</span></h2>
                    </div>
                    {% endfor %}
                    {% if messages %} 
                    {% for m in messages %}
                    <div style="background-color: #c5c5c5; padding: 20px;">
                        <p style="color: #AB0000;">{{m}}</p>
                    </div>
                    {% endfor %}
                    <br>
                    {% endif %}
                </table>
            </section>
            <button class="side-bar-buttons-items2" style="background-color: var(--global-seventh-color); margin-top: 40px;">
                <a href="{% url 'manage' %}">VOLTAR</a>
            </button>
        </div>
    </div>
</div>
{% endblock content %}