{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JIIFS ADMIN</title>
{% endblock head %}

{% block navbar %}
<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'games' %}">
    <button class="side-bar-buttons-items">JOGOS</button>
</a>
<a href="{% url 'settings_manage' %}">
    <button class="side-bar-buttons-items">CONFIGURAÇÕES</button>
</a>
<a href="{% url 'banner_manage' %}">
    <button class="side-bar-buttons-items">BANNERS</button>
</a>
{% endblock navbar %}

{% block register %}
<section class="side-bar-register">
    <h3 class="side-bar-register-title">CADASTRO</h3>
    <button class="side-bar-buttons-items2">
        <a href="{% url 'banner_register' %}">Adicionar</a>
    </button>
</section>
{% endblock register %}

{% block content %}
<div class="all-block">
    <div class="block1">
        <div class="title">
            <h1>BANNERS</h1>
        </div>
        <div class="all-manage">
            <input type="search" id="search-input" onkeyup="search_table()" placeholder="Pesquisar os jogadores" />
            <section class="all-table">
                <table id="search-table">
                    <tr class="hidden">
                        <th>NONE</th>
                        <th>BANNER</th>
                        <th>STATUS</th>
                        <th>DELETAR</th>
                    </tr>
                    {% for banner in banner %}
                    <tr>
                        <td>{{ banner.name }}</td>
                        <td>{% if banner.image %} <img src="{% static 'images/icon-true.svg' %}"> {% else %} <img src="{% static 'images/icon-false.svg' %}"> {% endif %}</td>
                        <td>{{ banner.get_status_display}}</td>
                        <td><form method="POST" action="">{% csrf_token %}<button name="banner_delete" value="{{banner.id}}" style="background-color: transparent; border: none;"><img src="{% static 'images/icon-trash.svg' %}"></button></form></td>
                    </tr>
                    {% empty %}
                    <style>
                        .hidden {
                            display: none;
                        }
                    </style>
                    <img class="image-no-players" src="{% static 'images/setup-animate.svg' %}">
                    <div class="title2">
                        <h2>NÃO HÁ NENHUM JOGADOR CADASTRADO!</h2>
                    </div>
                    {% endfor %}
                    {% if messages %} 
                    {% for m in messages %}
                    <div style="background-color: #c5c5c5; padding: 20px;">
                        <p style="color: #AB0000;">{{m}}</p>
                    </div>
                    {% endfor %}
                    <br>
                    {% endif %}
                </table>
            </section>
        </div>
    </div>
</div>
{% endblock content %}