{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/morea-sports.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/navbar-layout.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %}
    <title>Title</title>
    {% endblock head %}
</head>

<body>
    <main>
        <div class="all">
            <div class="invisible-side-bar"></div>
            <div class="hamburguer-menu" onclick="toggle(this)">
                <span class="line first-line"></span>
                <span class="line second-line"></span>
            </div>
            <div class="theme-mode-button" id="theme-toggle">
                <i class="fas fa-sun" id="theme-icon"></i>
            </div>
            <section class="side-bar">
                <div class="side-bar-top">
                    <img class="side-bar-logo" src="{% static 'images/morea-sports.png' %}" alt="Logo Placeholder" />
                    <div class="side-bar-buttons">
                        {% block navbar %}

                        {% endblock navbar %}
                    </div>
                </div>
                <div class="side-bar-bottom">
                    {% block register %}
                    {% endblock register %}
                    <div class="logos">
                        <img class="logos-items" src="{% static 'images/logo-morea.svg' %}" alt="Logo Morea" />
                        <img class="logos-items" src="{% static 'images/logo-ifs-black.svg' %}" alt="Logo IFS" />
                    </div>
                    <div class="user-admin">
                        <p>USUÁRIO: <br> {{ user.username }}</p>
                    </div>
                    <button class="side-bar-buttons-items2">
                        <a href="{% url 'logout' %}">Sair</a>
                    </button>
                </div>
            </section>
            {% block content %}

            {% endblock content %}
        </div>
    </main>

    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>