{%load static%}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/navbar-cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/editar-geral.css' %}" />
    <title>JIIFS ADMIN</title>
</head>

<body>
    <main>
        <div class="all">
            <section class="side-bar">
                <div class="side-bar-top">
                    <img class="side-bar-logo" src="{% static 'images/logo-jiifs-2024.svg' %}" alt="Logo JIIFS24">
                    <div class="side-bar-buttons">
                        <a href="{% url 'Home' %}">
                            <button class="side-bar-buttons-items">HOME</button>
                        </a>
                        <a href="{% url 'player_manage' %}">
                            <button class="side-bar-buttons-items">JOGADORES</button>
                        </a>
                        <a href="{% url 'team_manage' %}">
                            <button class="side-bar-buttons-items">TIMES</button>
                        </a>
                        <a href="{% url 'matches_manage' %}">
                            <button class="side-bar-buttons-items">PARTIDAS</button>
                        </a>
                        <a href="{% url 'sport' %}">
                            <button class="side-bar-buttons-items">ESPORTES</button>
                        </a>
                    </div>
                </div>
                <div class="side-bar-bottom">
                    <section class="side-bar-register">
                        <h3 class="side-bar-register-title">CADASTRO</h3>
                        <button class="side-bar-buttons-items2">
                            <a href="{% url 'team_register' %}">Adicionar</a>
                        </button>
                    </section>
                    <div class="logos">
                        <img class="logos-items" src="{% static 'images/logo-morea.svg' %}" alt="Logo Morea">
                        <img class="logos-items" src="{% static 'images/logo-ifs-black.svg' %}" alt="Logo IFS">
                    </div>
                    <button class="side-bar-buttons-items2">
                        <a href="">Sair</a>
                    </button>
                </div>
            </section>
            <div class="all-block">
                <section class="block1">
                    <div class="title">
                        <h1>EDITAR TIME</h1>
                    </div>
                <div>
                    <form id="function_validate_form" class="block-inputs">
                        <div class="block-inputs-form">
                            <div>
                                <input type="text" autocomplete="on" autocorrect="on"
                                    placeholder="Digite o nome do time">
                                <input type="text" autocomplete="on" autocorrect="on"
                                    placeholder="Informe a cor em Hexadecimal">
                                <select id="sexos" name="sexos">
                                    <option selected disabled>Selecione o sexo</option>
                                    <option value="masculino">Masculino</option>
                                    <option value="feminino">Feminino</option>
                                </select>
                                <label for="fotos" id="label-foto" class="custom-file-button">Adicione a imagem do time</label>
                                <input type="file" name="foto-time" id="fotos" accept=".jpg, .jpeg, .png" onchange="trocarTextoLabel()">
                            </div>
                            <div>
                                <input class="green-button" type="submit" value="Confirmar">
                            </div>
                        </div>
                    </form>
                    <form id="function_validate_form_delete" class="block-inputs" action="">
                        <div class="block-inputs-form" >
                            <input class="input-delete" type="submit" value="Excluir">
                        </div>
                    </form>
                </div>
                </section>
            </div>
        </div>
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>