{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/logo-morea-sports.svg' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/public/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/public/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/public/errors.css' %}">
    {% block head %}
    <title>Erro 404</title>
    {% endblock head %}
</head>
<body>
    <div class="modal-mobile mobile"></div>
    <header>
        <nav>
            <img
                class="logo-jiifs"
                src="{% static 'images/logo-morea-sports.svg' %}"
                alt="JIIFS"
            />
            <ul>
                <li class="item-close mobile">
                    <img
                        class="icon-close mobile"
                        src="{% static 'images/icon-close.svg' %}"
                        alt="Menu"
                    />
                </li>
                <li><a href="{% url 'home_public' %}" class="home-link">Home</a></li>
                <li><a href="{% url 'scoreboard_public' %}" class="scoreboard-link">Placar</a></li>
                <li><a href="{% url 'about_us' %}" class="about-us-link">Sobre Nós</a></li>
            </ul>
            <img
                class="icon-burguer"
                src="{% static 'images/icon-burguer.svg' %}"
                alt="Menu"
            />
        </nav>
    </header>
    <main>
        <section class="main-err">
            <div class="image">
                <img class="image-err" src="{% static 'images/logo-morea-sports.svg' %}" alt="Morea Sports">
            </div>
            <div class="content">
                <h1 class="title-err"><span style="color: #02AEFA;">OOPS!</span> Página não encontrada! <span style="color: #00FF00">(404)</Span></h1>
                <p class="para-err">Esta página não foi encontrada! Volte para a <a class="url-to-home-err" href="{% url 'home_public' %}">página inicial</a> ou contate um desenvolvedor próximo.</p>
            </div>
        </section>
    </main>
    <footer>
        <img
            src="{% static 'images/logo-ifs-white.png' %}"
            alt=""
            class="logo-ifs"
        />
        <img
            src="{% static 'images/logo-morea-colorful.svg' %}"
            alt=""
            class="logo-ifs"
        />
    </footer>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>