{%load static%}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/navbar-cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/gerenciamento-geral.css' %}">
    <title>JIIFS ADMIN</title>
</head>

<body>
    <main>
        <div class="all">
            <section class="side-bar">
                <div class="side-bar-top">
                    <img class="side-bar-logo" src="{% static 'images/logo-jiifs-2024.svg' %}" alt="Logo JIIFS24">
                    <div class="side-bar-buttons">
                        <a href="{% url 'Home' %}">
                            <button class="side-bar-buttons-items">HOME</button>
                        </a>
                        <a href="{% url 'player_manage' %}">
                            <button class="side-bar-buttons-items">JOGADORES</button>
                        </a>
                        <a href="{% url 'team_manage' %}">
                            <button class="side-bar-buttons-items">TIMES</button>
                        </a>
                        <a href="{% url 'sport' %}">
                            <button class="side-bar-buttons-items">ESPORTES</button>
                        </a>
                    </div>
                </div>
                <div class="side-bar-bottom">
                    <section class="side-bar-register">
                        <h3 class="side-bar-register-title">CADASTRO</h3>
                        <button class="side-bar-buttons-items2">
                            <a href="{% url 'team_register' %}">Adicionar</a>
                        </button>
                    </section>
                    <div class="logos">
                        <img class="logos-items" src="{% static 'images/logo-morea.svg' %}" alt="Logo Morea">
                        <img class="logos-items" src="{% static 'images/logo-ifs-black.svg' %}" alt="Logo IFS">
                    </div>
                    <button class="side-bar-buttons-items2">
                        <a href="">Sair</a>
                    </button>
                </div>
            </section>
            <div class="all-block">
                <div class="block1">
                    <div class="title">
                        <h1>GERENCIAMENTO DOS TIMES</h1>
                    </div>
                    <section class="all-table">
                        <table>
                            <tr>
                                <th>NOME</th>
                                <th>COLOR-HEX</th>
                                <th>SEXO</th>
                                <th>JOGADORES</th>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'team_edit' %}">2° IRC</a>
                                </td>
                                <td>------</td>
                                <td>81</td>
                                <td>JOGADORES</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'team_edit' %}">Coisinha</a>
                                </td>
                                <td>------</td>
                                <td>15</td>
                                <td>JOGADORES</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'team_edit' %}">SILAS</a>
                                </td>
                                <td>SLAS</td>
                                <td>24</td>
                                <td>JOGADORES</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'team_edit' %}">SILAS</a>
                                </td>
                                <td>SLAS</td>
                                <td>24</td>
                                <td>JOGADORES</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'team_edit' %}">SILAS</a>
                                </td>
                                <td>SLAS</td>
                                <td>24</td>
                                <td>JOGADORES</td>
                            </tr>
              
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>