{%load static%}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <title>JIIFS ADMIN</title>
</head>

<body>
    <main>
        <div class="all">
            <section class="side-bar">
                <div class="side-bar-top">
                    <img class="side-bar-logo" src="{% static 'images/logo-jiifs-2024.svg' %}" alt="Logo JIIFS24">
                    <div class="side-bar-buttons">
                        <button class="side-bar-buttons-items">
                            <a href="{% url 'Home' %}">Home</a>
                        </button>
                        <button class="side-bar-buttons-items">
                            <a href="">Pontuação <br> Partidas</a>
                        </button>
                        <button class="side-bar-buttons-items">
                            <a href="">Substituição <br> Penalidades</a>
                        </button>
                    </div>
                </div>
                <div class="side-bar-bottom">
                    <section class="side-bar-register">
                        <h3 class="side-bar-register-title">CADASTRO</h3>
                        <button class="side-bar-buttons-items2">
                            <a href="{% url 'CadastroJogadores' %}">Jogadores</a>
                        </button>
                        <button class="side-bar-buttons-items2">
                            <a href="">Times</a>
                        </button>
                        <button class="side-bar-buttons-items2">
                            <a href="">Partidas</a>
                        </button>
                    </section>
                    <div class="logos">
                        <img class="logos-items" src="{% static 'images/logo-morea.svg' %}" alt="Logo Morea">
                        <img class="logos-items" src="{% static 'images/logo-ifs-black.svg' %}" alt="Logo IFS">
                    </div>
                    <button class="side-bar-buttons-items2">
                        <a href="">Sair</a>
                    </button>
                </div>
            </section>
            <div class="all-blocks">
                <section class="block1">
                    <img class="block-logo" src="{% static 'images/logo-morea.svg' %}" alt="Logo Morea">
                </section>
                <section class="block2">
                    <img class="block-logo" src="{% static 'images/logo-ifs-black.svg' %}" alt="Logo IFS">
                </section>
            </div>
        </div>
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>