{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>JIIFS ADMIN</title>
{% endblock head %}

{% block navbar %}
<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'manage' %}">
    <button class="side-bar-buttons-items">GERENCIAMENTO</button>
</a>
<a href="{% url 'games' %}">
    <button class="side-bar-buttons-items">JOGOS</button>
</a>
{% endblock navbar %}

{% block content %}
<div class="all-block">
    <section class="block1">
        <img class="block-logo" src="{% static 'images/logo-morea.svg' %}" alt="Logo Morea" />
    </section>
    <section class="block2">
        <img class="block-logo" src="{% static 'images/logo-ifs-black.svg' %}" alt="Logo IFS" />
    </section>
</div>
{% endblock content %}