{% load static %}

<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'images/morea-sports.png' %}" type="image/x-icon" />
  <title>JIIFS ADMIN</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/manage.css' %}"/>

</head>
<body>
  <div class="container swiper">
    <div class="card-wrapper">
      <ul class="card-list swiper-wrapper">
        <li class="card-item swiper-slide">
          <a href="{% url 'Home' %}" class="card-link">
            <img src="{% static 'images/logo-morea-sports.svg' %}" alt="Card Image" class="card-image">
            <p class="badge badge-return">VOLTAR</p>
            <h2 class="card-title">A pagina  que você está agora é utilizada para o gerenciamento de atletas, times, partidas, técnicos, banners, certificados e crachás! <span style="color: red;">clique aqui para sair</span></h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="{% url 'team_manage' %}" class="card-link">
            <img src="{% static 'images/logo-morea-sports.svg' %}" alt="Card Image" class="card-image">
            <p class="badge badge-team">TIMES</p>
            <h2 class="card-title">Aqui você poderá cadastrar, editar e também ver os time que já foram cadastrados e seus esportes. Você também poderá cadastrar os seus jogadores!</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="{% url 'player_manage' %}" class="card-link">
            <img src="{% static 'images/logo-morea-sports.svg' %}" alt="Card Image" class="card-image">
            <p class="badge badge-team">ATLETAS</p>
            <h2 class="card-title">Nesse local você poderá apenas ver os jogadores que você já adicionou em algum time, certo? aqui você também poderá editar as informações deles!</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="{% url 'matches_manage' %}" class="card-link">
            <img src="{% static 'images/logo-morea-sports.svg' %}" alt="Card Image" class="card-image">
            <p class="badge badge-match">PARTIDAS</p>
            <h2 class="card-title">Aqui você vai pode cadastrar, editar e também ver as partidas que já foram cadastrados. Lembre que para iniciar uma partida você eve ir a área games!</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        {% if user.is_staff %}
        <li class="card-item swiper-slide">
          <a href="{% url 'technician_manage' %}" class="card-link">
            <img src="{% static 'images/logo-morea-sports.svg' %}" alt="Card Image" class="card-image">
            <p class="badge badge-technician">Técnicos</p>
            <h2 class="card-title">Aqui você vai pode cadastrar, editar e também ver os técnicos que tem acesso ao sistema. Cuidado para não excluir nenhum sem querer!</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="{% url 'banner_manage' %}" class="card-link">
            <img src="{% static 'images/logo-morea-sports.svg' %}" alt="Card Image" class="card-image">
            <p class="badge badge-banner">Banner</p>
            <h2 class="card-title">Aqui você vai pode cadastrar, editar e também ver os banners que estão cadastrados! Eles servem para você os colocar no placar do projetor!</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        {% endif %}
      </li>
      <li class="card-item swiper-slide">
        <a href="{% url 'badge' %}" class="card-link">
          <img src="{% static 'images/logo-morea-sports.svg' %}" alt="Card Image" class="card-image">
          <p class="badge badge-badge">CRACHÁ</p>
          <h2 class="card-title">Aqui você vai pode gerar os cracrá dos atletas e técnicos! lembre sempre que ele gera o crachá dos atletas que estão em um time!</h2>
          <button class="card-button material-symbols-rounded">arrow_forward</button>
        </a>
      </li>
      <li class="card-item swiper-slide">
        <a href="{% url 'certificate' %}" class="card-link">
          <img src="{% static 'images/logo-morea-sports.svg' %}" alt="Card Image" class="card-image">
          <p class="badge badge-certificate">CERTIFICADO</p>
          <h2 class="card-title">Aqui você vai poder gerar o certificado de participação dos atletas! lembre sempre que ele gera o certificado dos atletas que estão em um time!</h2>
          <button class="card-button material-symbols-rounded">arrow_forward</button>
        </a>
      </li>
      </ul>
       <!-- Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Navigation Buttons -->
      <div class="swiper-slide-button swiper-button-prev"></div>
      <div class="swiper-slide-button swiper-button-next"></div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="{% static 'js/manage.js' %}"></script>
</body>
</html>