{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JIIFS ADMIN</title>
{% endblock head %}

{% block navbar %}
<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'player_manage' %}">
    <button class="side-bar-buttons-items">JOGADORES</button>
</a>
<a href="{% url 'team_manage' %}">
    <button class="side-bar-buttons-items">TIMES</button>
</a>
<a href="{% url 'matches_manage' %}">
    <button class="side-bar-buttons-items">PARTIDAS</button>
</a>
<a href="{% url 'technician_manage' %}">
    <button class="side-bar-buttons-items">TÉCNICOS</button>
</a>
{% endblock navbar %}

{% block content %}
<div class="all-block">
    <section class="block1">
        <div class="title">
            <h1>CADASTRO PARTIDAS</h1>
        </div>
        <div>
            <form id="function_validate_form" class="block-inputs" method="post">{% csrf_token %}
                <div class="block-inputs-form">
                    <div>
                        <select id="esporte" name="sport">
                            <option selected disabled value="None">Selecione o esporte</option>
                            {% for value, name in sport %}
                            <tr>
                                <option value="{{value }}">{{ name }}</option>
                            </tr>
                            {% endfor %}
                        </select>
                        <select id="sexos" name="sexo">
                            <option selected disabled value="None">Selecione o sexo</option>
                            <option value="0">Masculino</option>
                            <option value="1">Feminino</option>
                        </select>
                        <select id="time-a" name="time_a" required>
                            <option selected disabled value="None">Selecione o time</option>
                            {% for i in team %}
                            <option value="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                        <select id="times-b" name="time_b" required>
                            <option selected disabled value="None">Selecione o time</option>
                            {% for i in team %}
                            <option value="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                        <input class="input-data" type="datetime-local" name="datetime" id="date-game" />
                    </div>
                    {% if messages %}
                    {% for m in messages %}
                    <div style="background-color: #c5c5c5; padding: 20px;">
                        <p style="color: #AB0000;">{{m}}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div>
                        <input class="input-confirm" type="submit" value="Confirmar" />
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock content %}