{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JIIFS ADMIN</title>
{% endblock head %}

{% block navbar %}
<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'player_manage' %}">
    <button class="side-bar-buttons-items">JOGADORES</button>
</a>
<a href="{% url 'team_manage' %}">
    <button class="side-bar-buttons-items">TIMES</button>
</a>
<a href="{% url 'matches_manage' %}">
    <button class="side-bar-buttons-items">PARTIDAS</button>
</a>
<a href="{% url 'sport_manage' %}">
    <button class="side-bar-buttons-items">ESPORTES</button>
</a>
{% endblock navbar %}

{% block register %}
<section class="side-bar-register">
    <h3 class="side-bar-register-title">CADASTRO</h3>
    <button class="side-bar-buttons-items2">
        <a href="{% url 'matches_register' %}">Adicionar</a>
    </button>
</section>
{% endblock register %}

{% block content %}
<div class="all-block">
    <div class="block1">
        <div class="title">
            <h1>GERENCIAMENTO DE PARTIDAS</h1>
        </div>
        <div class="all-manage">
            <input type="search" id="search-input" onkeyup="search_table()" placeholder="Pesquisar as partidas" />
            <section class="all-table">
                <table id="search-table">
                    <tr class="hidden">
                        <th>ID</th>
                        <th>TIME A</th>
                        <th>TIME B</th>
                        <th>STATUS</th>
                        <th>TEMPO</th>
                        <th>SEXO</th>
                        <th>ESPORTE</th>
                        <th>VENCEDOR</th>
                        <th>DELETAR</th>
                    </tr>
                    {% for i in context %}
                    <tr>
                        <td><a href="{% url 'matches_edit' i.match.id %}">{{i.match.id}}</a></td>
                        <td>{{ i.times.0.team.name }}</td>
                        <td>{{ i.times.1.team.name }}</td>
                        <td>{% if i.match.status == 0 %} Em breve {% elif i.match.status == 1 %} Acontecendo {% elif i.match.status == 2 %} Finalizada {% elif i.match.status == 3 %} Cancelada {% elif i.match.status == 4 %} Pausada {% else %} ---- {% endif %}</td>
                        <td>{{i.match.time_match}}</td>
                        <td>{% if i.match.sexo == 0 %} Masculino {% else %} Feminino {% endif %} </td>
                        <td>{{i.match.sport}}</td>
                        <td>{% if i.match.winner_team %} {{match.Winner_team}} {% else %} ---- {% endif %}</td>
                        <td><form method="POST" action="">{% csrf_token %}<button name="match_delete" value="{{i.match.id}}" style="background-color: transparent; border: none;"><img src="{% static 'images/icon-trash.svg' %}" style="color: blue;" alt=""></button></form></td>
                    </tr>
                    {% empty %}
                    <style>
                        .hidden {
                            display: none;
                        }
                    </style>
                    <img class="image-no-players" src="{% static 'images/setup-animate.svg' %}">
                    <div class="title2">
                        <h2>NÃO HÁ NENHUMA PARTIDA CADASTRADA!</h1>
                    </div>
                    {% endfor %}
                </table>
            </section>
        </div>
    </div>
</div>
{% endblock content %}