{%load static%}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/icon-jiifs.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/navbar-layout.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>JIIFS ADMIN</title>
</head>

<body>
    <main>
        <div class="all">
            <div class="invisible-navbar"></div>
            <div class="hamburguer-menu" onclick="toggle(this)">
                <span class="line first-line"></span>
                <span class="line second-line"></span>
            </div>
            <section class="side-bar">
                <div class="side-bar-top">
                    <img class="side-bar-logo" src="{% static 'images/logo-jiifs-2024.svg' %}" alt="Logo JIIFS24" />
                    <div class="side-bar-buttons">
                        <a href="{% url 'Home' %}">
                            <button class="side-bar-buttons-items">HOME</button>
                        </a>
                        <a href="{% url 'player_manage' %}">
                            <button class="side-bar-buttons-items">JOGADORES</button>
                        </a>
                        <a href="{% url 'team_manage' %}">
                            <button class="side-bar-buttons-items">TIMES</button>
                        </a>
                        <a href="{% url 'matches_manage' %}">
                            <button class="side-bar-buttons-items">PARTIDAS</button>
                        </a>
                        <a href="{% url 'sport_manage' %}">
                            <button class="side-bar-buttons-items">ESPORTES</button>
                        </a>
                    </div>
                </div>
                <div class="side-bar-bottom">
                    <section class="side-bar-register">
                        <h3 class="side-bar-register-title">CADASTRO</h3>
                        <button class="side-bar-buttons-items2">
                            <a href="{% url 'matches_register' %}">Adicionar</a>
                        </button>
                    </section>
                    <div class="logos">
                        <img class="logos-items" src="{% static 'images/logo-morea.svg' %}" alt="Logo Morea" />
                        <img class="logos-items" src="{% static 'images/logo-ifs-black.svg' %}" alt="Logo IFS" />
                    </div>
                    <button class="side-bar-buttons-items2">
                        <a href="">Sair</a>
                    </button>
                </div>
            </section>
                <div class="all-block">
                    <section class="block1">
                        <div class="title">
                            <h1>EDITAR PARTIDAS</h1>
                        </div>
                                <form
                                id="function_validate_form"
                                class="block-inputs" method="post"
                                >{% csrf_token %}
                                <div class="block-inputs-form">
                                    <div>
                                        <select id="esporte" name="sport">
                                            <option selected disabled value="None">
                                                Selecione o esporte
                                            </option>
                                            {% for sport in sport %}
                                            <option {% if match.sport.id == sport.id %} selected {% endif %} value="{{sport.id}}">{{sport.name}}</option>
                                            {% endfor %}
                                            
                                        </select>
                                        <select id="sexos" name="sexo">
                                            <option selected disabled value="None">
                                                Selecione o sexo
                                            </option>
                                            <option {% if match.sexo == 0 %} selected {% endif %} value="0">Masculino</option>
                                            <option {% if match.sexo == 1 %} selected {% endif %} value="1">Feminino</option>
                                        </select>
                                        <select id="time-a" name="time_a" required>
                                            <option selected disabled value="None">
                                                Selecione o time
                                            </option>
                                            {% for i in team %}
                                            <option value="{{i.id}}">{{i.name}}</option>
                                            {% endfor %}
                                        </select>
                                        <select id="times-b" name="time_b" required>
                                            <option selected disabled  value="None">
                                                Selecione o time
                                            </option>
                                            {% for i in team %}
                                            <option value="{{i.id}}">{{i.name}}</option>
                                            {% endfor %}
                                        </select>
                                        <input
                                            class="input-data"
                                            type="datetime-local"
                                            name="datetime"
                                            id="date-game"
                                        />
                                        {% if match.time_match %} <p> HORARIO: {{match.time_match}}</p> {% endif %}
                                    </div>
                                    <div>
                                        <input
                                            class="input-confirm"
                                            type="submit"
                                            value="Confirmar"
                                        />
                                    </div>
                                </div>
                            </form>
                            <form
                                id="function_validate_form_delete"
                                class="block-inputs"
                                method="post"
                            >{% csrf_token %}
                                <div class="block-inputs-form">
                                    <input
                                        class="input-delete"
                                        type="submit"
                                        value="excluir"
                                        name="excluir"
                                    />
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>