{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JIIFS ADMIN</title>
{% endblock head %}

{% block navbar %}
<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'player_manage' %}">
    <button class="side-bar-buttons-items">JOGADORES</button>
</a>
<a href="{% url 'team_manage' %}">
    <button class="side-bar-buttons-items">TIMES</button>
</a>
<a href="{% url 'matches_manage' %}">
    <button class="side-bar-buttons-items">PARTIDAS</button>
</a>
<a href="{% url 'sport_manage' %}">
    <button class="side-bar-buttons-items">ESPORTES</button>
</a>
{% endblock navbar %}

{% block register %}
<section class="side-bar-register">
    <h3 class="side-bar-register-title">CADASTRO</h3>
    <button class="side-bar-buttons-items2">
        <a href="{% url 'matches_register' %}">Adicionar</a>
    </button>
</section>
{% endblock register %}

{% block content %}
<div class="all-block">
    <section class="block1">
        <div class="title">
            <h1>EDITAR PARTIDAS</h1>
        </div>
        <form id="function_validate_form" class="block-inputs" method="post">{% csrf_token %}
            <div class="block-inputs-form">
                <div>
                    <select id="esporte" name="sport">
                        <option selected disabled value="None">
                            Selecione o esporte
                        </option>
                        {% for i in sport %}
                        <option {% if match.sport.id == i.id %} selected {% endif %} value="{{i.id}}">
                            {{i.name}}
                        </option>
                        {% endfor %}
                    </select>
                    <select id="sexos" name="sexo">
                        <option {% if match_disable %} selected disabled {% endif %} value="None">
                            Selecione o sexo
                        </option>
                        <option {% if match.sexo == 0 %} selected {% endif %} value="0">Masculino</option>
                        <option {% if match.sexo == 1 %} selected {% endif %} value="1">Feminino</option>
                    </select>
                    <select id="time-a" name="team_a" required>
                        <option selected disabled value="0">
                            Selecione o time
                        </option>
                        {% for i in team %}
                        <option {% if team_match_a.team == i %} selected {% endif %} value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                    <select id="times-b" name="team_b" required>
                        <option selected disabled value="0">
                            Selecione o time
                        </option>
                        {% for i in team %}
                        <option {% if team_match_b.team == i %} selected {% endif %} value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                    <input {% if match.time_match %} value="{{match.time_match|date:'Y-m-d\TH:i'}}" {% endif %}
                        class="input-data" type="datetime-local" name="datetime" id="date-game" />
                </div>
                {% if messages %}
                {% for m in messages %}
                <p style="color: red;">{{m}}</p>
                {% endfor %}
                {% endif %}
                <div>
                    <input class="input-confirm" type="submit" value="Confirmar" />
                </div>
            </div>
        </form>
        <form id="function_validate_form_delete" class="block-inputs" method="post">{% csrf_token %}
            <div class="block-inputs-form">
                <input class="input-delete" type="submit" value="Excluir" name="excluir" />
            </div>
        </form>
    </section>
</div>
{% endblock content %}