{%load static%}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/images/icon-jiifs.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/navbar-layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>JIIFS ADMIN</title>
</head>

<body>
    <main>
        <div class="all">
            <div class="invisible-navbar"></div>
            <div class="hamburguer-menu" onclick="toggle(this)">
                <span class="line first-line"></span>
                <span class="line second-line"></span>
            </div>
            <section class="side-bar">
                <div class="side-bar-top">
                    <img class="side-bar-logo" src="{% static 'images/logo-jiifs-2024.svg' %}" alt="Logo JIIFS24">
                    <div class="side-bar-buttons">
                        <a href="{% url 'Home' %}">
                            <button class="side-bar-buttons-items">HOME</button>
                        </a>
                        <a href="{% url 'player_manage' %}">
                            <button class="side-bar-buttons-items">JOGADORES</button>
                        </a>
                        <a href="{% url 'team_manage' %}">
                            <button class="side-bar-buttons-items">TIMES</button>
                        </a>
                        <a href="{% url 'matches_manage' %}">
                            <button class="side-bar-buttons-items">PARTIDAS</button>
                        </a>
                        <a href="{% url 'sport_manage' %}">
                            <button class="side-bar-buttons-items">ESPORTES</button>
                        </a>
                    </div>
                </div>
                <div class="side-bar-bottom">
                    <section class="side-bar-register">
                        <h3 class="side-bar-register-title">CADASTRO</h3>
                        <button class="side-bar-buttons-items2">
                            <a href="{% url 'player_register' %}">Adicionar</a>
                        </button>
                    </section>
                    <div class="logos">
                        <img class="logos-items" src="{% static 'images/logo-morea.svg' %}" alt="Logo Morea">
                        <img class="logos-items" src="{% static 'images/logo-ifs-black.svg' %}" alt="Logo IFS">
                    </div>
                    <button class="side-bar-buttons-items2">
                        <a href="">Sair</a>
                    </button>
                </div>
            </section>
            <div class="all-block">
                <section class="block1">
                    <div class="title">
                        <h1>CADASTRO DE JOGADORES</h1>
                    </div>
                    <form id="function_validate_form" class="block-inputs" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="block-inputs-form">
                            <div>
                                <input type="text" autocomplete="on" autocorrect="on" name="name" placeholder="Nome do jogador"  required>
                                <input type="text" autocomplete="on" autocorrect="on" name="instagram"
                                    placeholder="Instagram do jogador">
                                <input type="text" autocomplete="on" autocorrect="on" placeholder="Número do jogador">
                                <select id="sexos" name="sexo" required>
                                    <option selected disabled>Selecione o sexo</option required>
                                    <option value="0">Masculino</option>
                                    <option value="1">Feminino</option>
                                </select>
                                <label for="fotos" id="label-foto" class="custom-file-button">Adicione uma
                                    imagem</label>
                                <input type="file" name="photo" id="fotos" accept=".jpg, .jpeg, .png"
                                    onchange="trocarTextoLabel()">
                            </div>
                            <div>
                                <input class="input-confirm" type="submit" value="Confirmar"></input>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </main>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>