{%load static%}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/icon-jiifs.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/navbar-layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>JIIFS ADMIN</title>
</head>


<body>
    <main>
        <div class="all">
            <div class="invisible-navbar"></div>
            <div class="hamburguer-menu" onclick="toggle(this)">
                <span class="line first-line"></span>
                <span class="line second-line"></span>
            </div>
            <section class="side-bar">
                <div class="side-bar-top">
                    <img class="side-bar-logo" src="{% static 'images/logo-jiifs-2024.svg' %}" alt="Logo JIIFS24">
                    <div class="side-bar-buttons">
                        <a href="{% url 'Home' %}">
                            <button class="side-bar-buttons-items">HOME</button>
                        </a>
                        <a href="{% url 'player_manage' %}">
                            <button class="side-bar-buttons-items">GERENCIAMENTO</button>
                        </a>
                        <a href="{% url 'games' %}">
                            <button class="side-bar-buttons-items">JOGOS</button>
                        </a>
                    </div>
                </div>
                <div class="side-bar-bottom">
                    <div class="logos">
                        <img class="logos-items" src="{% static 'images/logo-morea.svg' %}" alt="Logo Morea">
                        <img class="logos-items" src="{% static 'images/logo-ifs-black.svg' %}" alt="Logo IFS">
                    </div>
                    <button class="side-bar-buttons-items2">
                        <a href="">Sair</a>
                    </button>
                </div>
            </section>
            <div class="all-block">
                <section class="block1">
                    <div class="title">
                        <h1>SELECIONE O TIME DESEJADO</h1>
                    </div>
                    <table class="all-table">
                        <tr>
                            <th>{{team_match_a.team.name}}</th>
                            <th>{{team_match_b.team.name}}</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'players_match' team_match_a.id %}">CONFIGURAR JOGADORES</a>
                            </td>
                            <td>
                                <a href="{% url 'players_match' team_match_b.id %}">CONFIGURAR JOGADORES</a>
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>