{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JIIFS ADMIN</title>
<style>.hidden { display: none; }</style>
{% endblock head %}

{% block navbar %}
<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'player_manage' %}">
    <button class="side-bar-buttons-items">JOGADORES</button>
</a>
<a href="{% url 'games' %}">
    <button class="side-bar-buttons-items">JOGOS</button>
</a>
{% endblock navbar %}

{% block content %}
<div class="all-block-scoreboard">
    <div class="block-top">
        <div class="block1-scoreboard">
            <div class="title-scoreboard">
                <h1>CRONOMETRO</h1>
            </div>
            <div class="timer-scoreboard">
                <h1 id="timer">00:00</h1>
            </div>
            <div class="buttons-scoreboard">
                <form method="post">
                    {% csrf_token %}
                    <button name="time_stop" type="submit">
                        <img class="buttons-scoreboard-img" src="{% static 'images/icon-stop.svg' %}" alt="icon-stop">
                    </button>
                </form>
                <form method="post">
                    {% csrf_token %}
                    <button onclick="startTimer()" name="time_init" type="submit">
                        <img class="buttons-scoreboard-img" src="{% static 'images/icon-play.svg' %}" alt="icon-play">
                    </button>
                </form>
                <form method="post">
                    {% csrf_token %}
                    <button name="time_pause" type="submit">
                        <img class="buttons-scoreboard-img" src="{% static 'images/icon-pause.svg' %}" alt="icon-pause">
                    </button>
                </form>
            </div>
        </div>
        <div class="block2-scoreboard">
            <div class="title-scoreboard">
                <h1>SELECIONE</h1>
            </div>
            <div class="inputs-scoreboard">
                <form class="block-inputs-form-scoreboard" id="formPrincipal" method="POST">
                    {% csrf_token %}
                    <br>
                    <select id="tipo" name="tipo" onchange="mostrarCampos()">
                        <option value="">Selecione a ação</option>
                        <option value="penalidade">Penalidade</option>
                        <option value="assistencia">Assistência</option>
                        <option value="acrescimo">Acrescimo</option>
                    </select>

                    <div id="camposPenalidade" class="hidden">
                        <select name="type_penalties" required>
                            <option selected disabled value="None">Escolha a Penalidade</option>
                            <option value="0">Cartão Amarelo</option>
                            <option value="1">Cartão Vermelho</option>
                            <option value="2">Falta</option>
                        </select>
                        <br><br>
                        <select name="player_penalties" required>
                            <option selected disabled value="None">Selecione o time</option>

                            <optgroup label="JOGADORES DO TIME: {{team_match_a.team.name}}">
                                {% for i in players_match_a %}
                                <option value="{{i.player.id}}">{{i.player.name}} - {{i.player_number}}</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="JOGADORES DO TIME: {{team_match_b.team.name}}">
                                {% for i in players_match_b %}
                                <option value="{{i.player.id}}">{{i.player.name}} - {{i.player_number}}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>

                    <div id="camposAssistencia" class="hidden">
                        <select name="point_assistance" required>
                            <option selected disabled value="None">Selecione o ponto</option>
                            {% for i in points %}
                            <option value="{{i.id}}">{{i.time}} - {{i.team_match.team.name}}{% if i.player %} -
                                {{i.player}}{% endif%}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <select name="player_assistance" required>
                            <option selected disabled value="None">Selecione o jogador</option>
                            <optgroup label="JOGADORES DO TIME: {{team_match_a.team.name}}">
                                {% for i in players_match_a %}
                                <option value="{{i.player.id}}">{{i.player.name}} - {{i.player_number}}</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="JOGADORES DO TIME: {{team_match_b.team.name}}">
                                {% for i in players_match_b %}
                                <option value="{{i.player.id}}">{{i.player.name}} - {{i.player_number}}</option>
                                {% endfor %}
                        </select>
                    </div>

                    <div id="camposAcrescimo" class="hidden">
                        <input type="hidden" name="receiber-add">
                        <input name="add_time" type="time" placeholder="Informe a quantidade de minutos de acrescimo">
                    </div>

                    <input class="input-confirm" type="submit" value="Confirmar">
                </form>
            </div>
        </div>
    </div>
    <div class="block-bottom">
        <div class="block3-scoreboard">
            <div class="title-scoreboard">
                <h1>PONTUAÇÃO - PONTOS / GOLS</h1>
            </div>
            <div class="scoreboard">
                <div class="scoreboard-top">
                    <div class="title-scoreboard title-scoreboard-top">
                        <h2 id="team-a">{{team_match_a.team.name}}</h2>
                        <h2 id="team-b">{{team_match_b.team.name}}</h2>
                    </div>
                    <div class="title-scoreboard select-scoreboard">
                        <form id="form1" class="select-scoreboard">
                            {% csrf_token %}
                            <select name="player_point">
                                <option selected value="0">Selecione o jogador</option>
                                {% for i in players_match_a %}
                                <option value="{{i.player.id}}">{{i.player.name}} - {{i.player_number}}</option>
                                {% endfor %}
                            </select>
                        </form>
                        <h2>PONTOS</h2>
                        <form id="form3" class="select-scoreboard">
                            {% csrf_token %}
                            <select name="player_point">
                                <option selected value="0">Selecione o jogador</option>
                                {% for i in players_match_b %}
                                <option value="{{i.player.id}}">{{i.player.name}} - {{i.player_number}}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
                <div class="scoreboard-center">
                    <div class="buttons-scoreboard">
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" name="team_a_remove">
                                <img class="buttons-scoreboard-img" src="{% static 'images/icon-minus.svg' %}"
                                    alt="icon menos">
                            </button>
                        </form>
                        <form id="form2" method="post">
                            {% csrf_token %}
                            <button type="submit" name="team_a_add" onclick="enviar1Formularios()">
                                <img class="buttons-scoreboard-img" src="{% static 'images/icon-plus.svg' %}"
                                    alt="icon mais">
                            </button>
                        </form>
                    </div>
                    <div class="title-scoreboard">
                        <h2 id="point"><span id="points-a">{{point_a}}</span> X <span id="points-b">{{point_b}}</span>
                        </h2>
                    </div>
                    <div class="buttons-scoreboard">
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" name="team_b_remove">
                                <img class="buttons-scoreboard-img" src="{% static 'images/icon-minus.svg' %}"
                                    alt="icon menos">
                            </button>
                        </form>
                        <form id="form4" method="post">
                            {% csrf_token %}
                            <button type="submit" name="team_b_add" onclick="enviar2Formularios()">
                                <img class="buttons-scoreboard-img" src="{% static 'images/icon-plus.svg' %}"
                                    alt="icon mais">
                            </button>
                        </form>
                    </div>
                </div>
                {% if match.sport.sets %}
                <div class="title-scoreboard">
                    <h2>SETS</h2>
                </div>
                <div class="scoreboard-bottom">
                    <div class="buttons-scoreboard">
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit">
                                <img class="buttons-scoreboard-img" src="{% static 'images/icon-minus.svg' %}"
                                    alt="icon menos">
                            </button>
                        </form>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit">
                                <img class="buttons-scoreboard-img" src="{% static 'images/icon-plus.svg' %}"
                                    alt="icon mais">
                            </button>
                        </form>
                    </div>
                    <div class="title-scoreboard">
                        <h2>0 X 0</h2>
                    </div>
                    <div class="buttons-scoreboard">
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit">
                                <img class="buttons-scoreboard-img" src="{% static 'images/icon-minus.svg' %}"
                                    alt="icon menos">
                            </button>
                        </form>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit">
                                <img class="buttons-scoreboard-img" src="{% static 'images/icon-plus.svg' %}"
                                    alt="icon mais">
                            </button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}