{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/morea-sports.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/public/scoreboard_projector.css' %}">
    <title>JIIFS PLACAR</title>
</head>
<body>
    <style>
        .hidden{
            display: none;
        }
    </style>
    <div>
        <img id="banner-scoreboard" src="{{banner_score}}" alt="Banner" style="width: 100vw; height: 100vh; {% if banner_bol == False %}display: none;{% endif %}">
    </div>
    <section id="section-project" style="{% if banner_bol %}display: none;{% endif %}" class="scoreboard">
        <div class="teams">
            <div id="team_a_color" style="background-color: {{team_match_a.team.hexcolor}}" class="team-a">
                <div class="title-team">
                    <img
                        id="photo-team-a" src="{{team_match_a.team.photo.url}}" style="border-radius: 50%;" 
                        alt="Team A"
                    />
                    <h2 id="team-a">{{team_match_a.team.name}}</h2>
                </div>
                <div class="score-team">
                    <div class="scout">
                        <ul>
                            <li class="cards"><img src="{% static 'images/cards.svg'%}" alt="" aria-hidden="true"><p id="card-a" class="card-count">{{card_a}}</p></li>
                            <li class="whistle"><img src="{% static 'images/whistle.svg'%}" alt="" aria-hidden="true"><p id="lack-a" class="whistle-count">{{lack_a}}</p></li>
                            <li class="aces"><img id="aces-img-a" style="{% if match.sport.sets %}display: flex;{% else %}display: none;{% endif %}" src="{% static 'images/ball-ace.svg'%}" alt="" aria-hidden="true"><p id="aces-a" style="{% if match.sport.sets %}display: flex;{% else %}display: none;{% endif %}" class="ace-count">{{aces_a}}</p></li>

                        </ul>
                    </div>
                    <p class="score" id="points-a">{{point_a}}</p>
                </div>
            </div>
            <div id="team_b_color" style="background-color: {{team_match_b.team.hexcolor}}" class="team-b">
                <div class="title-team">
                    <h2 id="team-b">{{team_match_b.team.name}}</h2>
                    <img
                    id="photo-team-b" src="{{team_match_b.team.photo.url}}" style="border-radius: 50%;" 
                        alt="Team B"
                    />
                </div>
                <div class="score-team">
                    <p class="score" id="points-b">{{point_b}}</p>
                    <div class="scout">
                        <ul>
                            <li class="cards"><img src="{% static 'images/cards.svg'%}" alt="" aria-hidden="true"><p id="card-b" class="card-count">{{card_b}}</p></li>
                            <li class="whistle"><img src="{% static 'images/whistle.svg'%}" alt="" aria-hidden="true"><p id="lack-b" class="whistle-count">{{lack_b}}</p></li>
                            <li class="aces"><img id="aces-img-b" style="{% if match.sport.sets %} display: flex; {% else %} display: none; {% endif %}" src="{% static 'images/ball-ace.svg'%}" alt="" aria-hidden="true"><p id="aces-b" style="{% if match.sport.sets %} display: flex; {% else %} display: none; {% endif %}" class="ace-count">{{aces_b}}</p></li>

                        </ul>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="bordao_redes">
            <p>{{config.areasup}}</p>
        </div>
        <div class="sets-or-time">
            <div class="title-set">
                <p style="color: black;" id="name-scoreboard">{{name_scoreboard}}</p>
            </div>
            <p class="time">
                <span id="timer" class="sets">{{time_sets_a}}</span> <span id="sets-team-b"  style="{% if match.sport.sets %}display: flex;{% else %}display: none;{% endif %}" class="sets">{{sets_b}}</span>
            </p>
        </div>
        <div class="ball-sport">
            <img id="ball-sport" src="{{ball_sport}}" alt="" />
        </div>
    </section>
    <footer id="footer-project" style="{% if banner_bol %}display: none;{% endif %}">
        <div class="footer-content">
            <img class="logo-ifs" src="{% static 'images/logo-ifs.svg'%}" alt="Logo IFS - LAG">
            <img class="qr-code" src="{{config.qrcode.url}}" alt="" aria-hidden="true">
            <ul>
                <p>Veja também pelo site<br>
                <strong>{{config.site}}</strong></p>
                <li><img src="{% static 'images/logo-morea-colorful.svg'%}" alt="Logo MOREA"></li>
            </ul>
        </div>
    </footer>
    <script src="{% static 'js/timer.js' %}"></script>
    <script>
        {% if seconds %}
        stopwatch({{seconds}}, {{status}})
        {% endif %}
    </script>
</body>
</html>