{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JIIFS ADMIN</title>
{% endblock head %}

{% block navbar %}
<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'player_manage' %}">
    <button class="side-bar-buttons-items">JOGADORES</button>
</a>
<a href="{% url 'team_manage' %}">
    <button class="side-bar-buttons-items">TIMES</button>
</a>
<a href="{% url 'matches_manage' %}">
    <button class="side-bar-buttons-items">PARTIDAS</button>
</a>
<a href="{% url 'sport_manage' %}">
    <button class="side-bar-buttons-items">ESPORTES</button>
</a>
{% endblock navbar %}

{% block register %}
<section class="side-bar-register">
    <h3 class="side-bar-register-title">CADASTRO</h3>
    <button class="side-bar-buttons-items2">
        <a href="{% url 'sport_register' %}">Adicionar</a>
    </button>
</section>
{% endblock register %}

{% block content %}
<div class="all-block">
    <div class="block1">
        <div class="title">
            <h1>GERENCIAMENTO DE ESPORTES</h1>
        </div>
        <div class="all-manage">
            <input type="search" id="search-input" onkeyup="search_table()" placeholder="Pesquisar as partidas" />
            <section class="all-table">
                <table id="search-table">
                    <tr class="hidden">
                        <th>NOME DO ESPORTE</th>
                        <th>MAXIMO DE TITULARES</th>
                    </tr>
                    {% for sport in sport %}
                    <tr>
                        <td>
                            <a href="{% url 'sport_edit' sport.id %}">{{sport.name}}</a>
                        </td>
                        <td>{{sport.max_titulares}}</td>
                    </tr>
                    {% empty %}
                    <style>
                        .hidden {
                            display: none;
                        }
                    </style>
                    <img class="image-no-players" src="{% static 'images/setup-animate.svg' %}">
                    <div class="title2">
                        <h2>NÃO HÁ NENHUM ESPORTE CADASTRADO!</h2>
                    </div>
                    {% endfor %}
                </table>
            </section>
        </div>
    </div>
</div>
{% endblock content %}