{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/team_players_manage.css' %}">
<title>JIIFS ADMIN</title>
{% endblock head %}

{% block navbar %}
<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'manage' %}">
    <button class="side-bar-buttons-items">GERENCIAMENTO</button>
</a>
{% endblock navbar %}

{% block register %}
<section class="side-bar-register">
    <h3 class="side-bar-register-title">CADASTRO</h3>
    <button class="side-bar-buttons-items2">
        <a href="{% url 'add_player_team' team_sport.id %}">Adicionar</a>
    </button>
</section>
{% endblock register %}

{% block content %}
<div class="all-block">
    <div class="block1">
        <div class="title">
            <h1>JOGADORES DE <span style="color: var(--global-tenth-color);">{{team_sport.team.name|upper}}</span> - {{team_sport.get_sport_display|upper}} - {{team_sport.get_sexo_display|upper}}</h1>
        </div>
        <section class="block-inputs">
            <section class="all-table">
                <table id="search-table">
                    <tr class="hidden">
                        <th>NOME</th>
                        <th>MATRICULA</th>
                        <th>CAMPUS</th>
                        <th>SEXO</th>
                        <th>DATA NASC.</th>
                        <th>FOTO</th>
                        <th>EDITAR</th>
                        <th>REMOVER</th>
                    </tr>
                    {% for i in player_team_sport %}
                    <tr>
                        <td>
                            {{ i.player.name }}
                        </td>
                        <td>{{i.player.registration}}</td>
                        <td>{{i.player.campus}}</td>
                        <td>{{i.player.get_sexo_display}}</td>
                        <td>{{i.player.date_nasc}}</td>
                        <td>{% if i.player.photo %} <img src="{% static 'images/icon-true.svg' %}"> {% else %} <img src="{% static 'images/icon-false.svg' %}"> {% endif %}</td>
                        <td>
                            <a href="{% url 'player_edit' i.player.id %}">
                                <img src="{% static 'images/icon-edit.svg' %}">
                            </a>
                        </td>
                        <td>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <button name="player_delete" value="{{i.player.id}}" style="background-color: transparent; border: none;">
                                    <img src="{% static 'images/icon-trash.svg' %}" style="color: blue;" alt="">
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if messages %}
                    {% for m in messages %}
                    <p style="color: red;">{{m}}</p>
                    {% endfor %}
                    {% endif %}
                </table>
            </section>
            <div style="display: flex; width: auto; height: auto; justify-content: center; align-items: center; gap: 15px;">
                <button class="side-bar-buttons-items2" style="background-color: var(--global-color-green); margin-top: 20px; padding: 5px; padding-left: 10px; padding-right: 10px; border: 0; border-radius: 7px; font-weight: 600;">
                    <a href="{% url 'guiate_players_team' team_sport.team.name team_sport.get_sexo_display team_sport.get_sport_display %}" style="color: #ffffff; font-size: 25px;">ADICIONAR MAIS</a>
                </button>       
                <button class="side-bar-buttons-items2 cursor-block" style="background-color: var(--global-seventh-color); margin-top: 20px; padding: 5px; padding-left: 10px; padding-right: 10px; border: 0; border-radius: 7px; font-weight: 600;">
                    <a href="{% url 'team_manage' %}" style="color: #ffffff; font-size: 25px;">VOLTAR</a>
                </button>
            </div>
        </section>
    </div>
</div>
{% endblock content %}