{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JIIFS ADMIN</title>
{% endblock head %}

{% block navbar %}
<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'player_manage' %}">
    <button class="side-bar-buttons-items">JOGADORES</button>
</a>
<a href="{% url 'team_manage' %}">
    <button class="side-bar-buttons-items">TIMES</button>
</a>
<a href="{% url 'matches_manage' %}">
    <button class="side-bar-buttons-items">PARTIDAS</button>
</a>
<a href="{% url 'technician_manage' %}">
    <button class="side-bar-buttons-items">TÉCNICOS</button>
</a>
{% endblock navbar %}

{% block content %}
<div class="all-block">
    <section class="block1">
        <div class="title">
            <h1>CADASTRO DE TIMES</h1>
        </div>
        <form id="function_validate_form" class="block-inputs" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="block-inputs-form">
                <div>
                    <input type="text" autocomplete="on" autocorrect="on" name="name"
                        placeholder="Digite o nome do time"></input>
                    <input type="text" autocomplete="on" autocorrect="on" name="hexcolor"
                        placeholder="Informe a cor em hexadecimal">
                    <table class="sports-table">
                        <tr>
                            <th>
                                <input type="checkbox" name="sports" onclick="toggle_checkbox(this)">
                            </th>
                            <th>SELECIONE O ESPORTE</th>
                        </tr>
                        {% for value, name in sport %}
                        <tr>
                            <td><input type="checkbox" name="input-checkbox" value="{{ value }}" {% if sport.id in sport_ids %} checked {% endif %}></input></td>
                            <td>
                                {{ name }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <label for="fotos" id="label-foto" class="custom-file-button">Adicione a imagem do time</label>
                    <input type="file" name="photo" id="fotos" accept=".jpg, .jpeg, .png" onchange="trocarTextoLabel()">
                    <br>
                    {% if messages %}
                    <style>
                        .ll {
                            background-color: #c5c5c5;
                            padding: 20px;
                        }
                    </style>
                    {% for m in messages %}
                    <div class="ll">
                        <p style="color: #AB0000;">{{m}}</p>
                    </div>
                    {% endfor %}
                    <br>
                    {% endif %}
                </div>
                <div>
                    <input class="input-confirm" type="submit" value="Confirmar">
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock content %}