{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JIIFS ADMIN</title>
{% endblock head %}

{% block navbar %}
<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'manage' %}">
    <button class="side-bar-buttons-items">GERENCIAMENTO</button>
</a>
{% endblock navbar %}

{% block content %}
<div class="all-block">
    <div class="block1">
        <div class="title">
            <h1>GERENCIAMENTO DE TIMES</h1>
        </div>
        <button class="side-bar-buttons-items2">
            <a href="{% url 'guiate_register_team' %}">CADASTRO DE TIMES</a>
        </button>
        <br><br>
        <div class="all-manage">
            <input type="search" id="search-input" onkeyup="search_table()" placeholder="Pesquisar os times" />
            <section class="all-table">
                <table id="search-table">
                    <tr class="hidden error">
                        <th>NOME</th>
                        <th>ESPORTE</th>
                        <th>SEXO</th>
                        <th>JOGADORES</th>
                        <th>EDITAR</th>
                        <th>SITUAÇÃO</th>
                        <th>DELETAR</th>
                    </tr>
                    {% for team_sport in team_sports %}
                    <tr>
                        <td>
                            {% if team_sport.team.name %} {{ team_sport.team.name }} {% else %} ---- {% endif %}
                        </td>
                        <td>{{ team_sport.get_sport_display }}</td>
                        <td>{{ team_sport.get_sexo_display }}</td>
                        <td>
                            <a href="{% url 'team_players_manage' team_sport.id %}">ACESSAR</a>
                        </td>
                        <td>
                            <a href="{% url 'team_edit' team_sport.team.id %}">
                                <img src="{% static 'images/icon-edit.svg' %}">
                            </a>
                        </td>
                        <td>{% if team_sport.situation %} <img src="{% static 'images/icon-true.svg' %}"> {% else %} <img src="{% static 'images/icon-false.svg' %}"> {% endif %}</td>
                        <td>
                            <form method="POST">
                                {% csrf_token %}
                                <button name="team_sport_delete" value="{{team_sport.id}}" style="background-color: transparent; border: none;">
                                    <img src="{% static 'images/icon-trash.svg' %}" style="color: blue;" alt="">
                                </button>
                            </form>
                        </td>

                    </tr>
                    {% empty %}
                    <style>
                        .hidden {
                            display: none;
                        }
                    </style>
                    <img class="image-no-players" src="{% static 'images/setup-animate.svg' %}">
                    <div class="title2">
                        <h2>NENHUM TIME FOI ENCONTRADO <br> <span style="font-size: 20px;">Realize o cadastro do seu time!</span></h2>
                    </div>
                    {% endfor %}
                </table>
            </section>
            <button class="side-bar-buttons-items2" style="background-color: var(--global-seventh-color); margin-top: 20px;">
                <a href="{% url 'manage' %}">VOLTAR</a>
            </button>
        </div>
    </div>
</div>
{% endblock content %}