{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/team_players_manage.css' %}">
<title>JIIFS ADMIN</title>
{% endblock head %}

{% block navbar %}
<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'player_manage' %}">
    <button class="side-bar-buttons-items">JOGADORES</button>
</a>
<a href="{% url 'team_manage' %}">
    <button class="side-bar-buttons-items">TIMES</button>
</a>
<a href="{% url 'matches_manage' %}">
    <button class="side-bar-buttons-items">PARTIDAS</button>
</a>
<a href="{% url 'technician_manage' %}">
    <button class="side-bar-buttons-items">TÉCNICOS</button>
</a>
{% endblock navbar %}

{% block register %}
<section class="side-bar-register">
    <h3 class="side-bar-register-title">CADASTRO</h3>
    <button class="side-bar-buttons-items2">
        <a href="{% url 'add_player_team' team.id %}">Adicionar</a>
    </button>
</section>
{% endblock register %}

{% block content %}
<div class="all-block">
    <div class="block1">
        <div class="title">
            <h1>GERENCIAMENTO DE JOGADORES DO TIME</h1>
        </div>
        <section class="block-inputs">
            <form class="block-inputs-form" id="function_validate_form" method="post">{% csrf_token %}
                <div class="block-inputs-div">
                    <select class="select-action" name="select-action" id="select-action">
                        <option selected disabled>Selecione a ação</option>
                        <option value="excluir">Excluir jogadores</option>
                    </select>
                    <div>
                        <input class="input-confirm" type="submit" value="Confirmar" />
                    </div>
                </div>
                <div>
                    <section class="all-table">
                        <table id="search-table">
                            <tr>
                                <th>
                                    <input type="checkbox" onclick="toggle_checkbox(this)" />
                                </th>
                                <th>NOMES</th>
                                <th>SITUAÇÃO</th>
                                <th>SEXO</th>
                            </tr>
                            {% for i in player_team_sport %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="input-checkbox" value="{{ i.player.id }}">
                                </td>
                                <td>{{ i.player.name }}</td>
                                <td>----</td>
                                <td>{% if i.player.sexo == 0 %} Masculino {% else %} Feminino {% endif %}</td>
                            </tr>
                            {% endfor %}
                            {% if messages %}
                            {% for m in messages %}
                            <p style="color: red;">{{m}}</p>
                            {% endfor %}
                            {% endif %}
                        </table>
                    </section>
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock content %}