{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Uso</title>
    <link rel="shortcut icon" href="{% static 'images/morea-sports.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/termos.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar-layout.css' %}">
</head>

<body>
    <main>
        <div class="all">
            <div>
                <div class="theme-mode-button" id="theme-toggle">
                    <i class="fas fa-sun" id="theme-icon"></i>
                </div>
            </div>
            <div class="container">
                <h1 class="title">Termos de Uso</h1>
                <div class="content">
                    <p>Leia atentamente os termos de uso antes de utilizar o sistema.</p>
                </div>
                <div class="terms-content">
                    <p><em>Última atualização: 05 de fevereiro de 2025</em></p>
                    <p>
                        1. Aceitação dos Termos de Uso
                        Ao acessar e utilizar o sistema de gerenciamento de dados Intercampi, você concorda em cumprir e
                        se submeter aos Termos de Uso descritos abaixo. Caso não concorde com qualquer parte deste
                        acordo, você deve interromper o uso do sistema imediatamente.
                    </p>
                    <p>
                        2. Objetivo do Sistema
                        Este sistema foi desenvolvido para o gerenciamento de dados entre diferentes campi de uma
                        instituição de ensino, com foco no registro e controle de informações. O uso do sistema é
                        restrito a usuários autorizados, como alunos, professores e administradores da instituição.
                    </p>
                    <p>
                        3. Acesso ao Sistema
                        O acesso ao sistema será concedido somente a usuários autorizados. Para utilizar o sistema, o
                        usuário deverá possuir credenciais válidas, que são de responsabilidade exclusiva do usuário. O
                        sistema deve ser utilizado de maneira responsável, com o devido respeito aos dados de outros
                        usuários e à integridade das informações armazenadas.
                    </p>
                    <p>
                        4. Responsabilidades do Usuário
                        Uso adequado: O usuário deve utilizar o sistema de maneira ética e dentro dos limites legais,
                        respeitando as políticas de privacidade e os direitos de outros usuários.
                        Atualização de dados: O usuário é responsável por garantir a precisão e atualização de suas
                        informações cadastradas.
                        Segurança de acesso: O usuário deve manter sua senha de acesso em segurança e não compartilhá-la
                        com terceiros.
                    </p>
                    <p>
                        5. Limitação de Responsabilidade
                        A instituição não se responsabiliza por quaisquer danos diretos, indiretos ou consequenciais
                        decorrentes do uso indevido ou do acesso não autorizado ao sistema. O usuário é responsável pelo
                        uso adequado de suas credenciais e pela segurança das informações inseridas.
                    </p>
                </div>
                <form method="post" class="form-checkbox">
                    {% csrf_token %}
                    <label class="label-checkbox">
                        <input class="checkbox" type="checkbox" name="accept" id="accept" required>Aceitar os Termos de
                        Uso
                    </label>
                    <button class="button-accept" type="submit">Aceitar</button>
                </form>
            </div>
        </div>
    </main>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>